
{% extends "layout.html" %}

{% load static %}


{% block cssFiles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock  %}


{% block pageTitle %}
    index.html
{% endblock  %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            {% for category in categories %}
                <a class="btn btn-primary" href="{% url "productsByCategori" category %}"> {{category}}
                </a>              
            {% endfor %}
        </div>
    </div>


</div>

   
   
    {% endblock content %}

    {% block jsFiles %}
        <script src="{% static "js/script.js" %}"></script>
    {% endblock %}